/* Global Styles */
html {
  font-family: Arial, "sans serif";
}

a {
  color: inherit;
}
/* Styles for page elements */


/* Styles by section: Navigation*/
.nav-ul {
  list-style: none;
}

.nav-ul li {
  padding: .75rem;
}

.nav-link {
  text-decoration: none;
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    height: 25vh;
    overflow: scroll;
  }
}
/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */

