/* Global Styles */
html {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

/* Styles for page elements */


/* Styles by section: Navigation*/
#navbar {
  /* margin-right: 5%; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}

#main-doc {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 35vh;
}

.nav-ul {
  list-style: none;
}

.nav-ul li {
  padding: .75rem;
}

.nav-link {
  text-decoration: none;
}

#navbar ul {
  height: 25vh;
  overflow: scroll;
}

@media only screen and (min-width: 800px) {
  #navbar {
    width: 300px;
  }

  #navbar ul {
    height: 100vh;
  }

  body {
    margin: 0 0 0 330px;
    font-size: 1.4rem;
  }

  #main-doc {
    margin: 0;
    position: static;
  }
}


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */

