/* Global Styles */
html {
  font-family: Arial, "sans serif;"
}

/* Styles for page elements */


/* Styles by section: Navigation*/
.nav-ul {
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

@media only screen and (max-width: 815px) {
  #navbar {
    height: 25%;
  }
}
/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */


/* Styles by section: */

